<tbody>
	<tr>
		<td>Grade:</td>
		<td><%= @student.grade_level %></td>
	</tr>
	<tr>
		<td>Period:</td>
		<td><%= @student.period %></td>
	</tr>
	<tr>
		<td>Teacher:</td>
		<td><%= @student.sign_in_teacher %></td>
	</tr>
</tbody>