<% provide(:title, @student.name) %>
<div class="col pull-left">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th><h3><%= @student.name %></h3></th>
			</tr>
		</thead>
		<%= render 'student_side' %>
	</table>
</div>
<div id="main-user-content">
	<div class="row">
		This is the home portion of the student profile page.
	</div>
</div>