<% provide(:title, @student.name) %>
<div class="col pull-left">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th><h4><%= @student.name %></h4></th>
			</tr>
		</thead>
		<%= render 'student_side' %>
	</table>
</div>
<div id="main-user-content" class="pull-right">
	<h3>Activities &bull;
		<%= select_tag "select_marking_period", "<option>Select Marking Period...</option><option disabled></option><option value='1' selected>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option>".html_safe %>
	</h3>
	<%= render :partial => 'list_activities' %>
</div>