<div class='col pull-left'>
	<ul id='student_assign_teacher_list'>
		<li><h4>coaches</h4></li>
		<%= render :partial => 'user', :locals => {:view => false} %>
	</ul>
</div>
<div id='assign-right-side'>
	<div class='row'>
		<div id='assign-right-header'>
			<%= render 'assign_right_header' %>
		</div>
		<div id='student-list'>
			<%= render :partial => '/students/student', :locals => {:over => false, :view => false, :students_xml => @students_xml, :mp => 1, :act => 1, :per => 1} %>
		</div>
	</div>
</div>
<%= javascript_include_tag 'assign_right_header' %>