<tr>
	<td class='left-side'>Marking Period <%= mp %></td>
	<% @activities = Activity.find(:all, :conditions => { :coach => coa, :marking_period => mp}) %>
	<% @activities.each do |a| %>
	<td>asdf</td>
	<% end %>
</tr>