<table>
	<% @users = User.all %>
	<% @users.each do |u| %>
		<tr>
			<td colspan="4"><%= u.name %></td>
		</tr>
		<% 4.times do |x| %>
			<tr>
				<td>Marking period <%= x %></td>
				<td>Activity 1</td>
				<td>Activity 2</td>
				<td>Activity 3</td>
			</tr>
		<% end %>
	<% end %>
</table>