<div class="tabular">
	<% @users = User.all %>
	<% @users.each do |u| %>
		<div><label><input type="radio" name="coach" /><%= u.name %></label></div>
	<% end %>
</div>
<div class="tabular_opp">
	<table id="manage-activities">
		<thead>
			<tr>
				<th></th>
				<th>Activity 1</th>
				<th>Activity 2</th>
				<th>Activity 3</th>
			</tr>
		</thead>
		<tbody>
			<% 4.times do |x| %>
				<tr>
					<td class="left-side">Marking Period <%= x + 1 %></td>
					<td><em>none</em></td>
					<td><em>none</em></td>
					<td class="right-side"><em>none</em></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>