<div class="tabular">
	<% @users = User.all %>
	<% count = 1 %>
	<% @users.each do |u| %>
		<% if count == 1 %>
			<div><label><input type="radio" name="coaches" checked /><%= u.name %></label></div>
		<% else %>
			<div><label><input type="radio" name="coaches" /><%= u.name %></label></div>
		<% end %>
		<% count = count + 1 %>
	<% end %>
</div>
<br />
<div class="tabular_opp">
	<table id="manage-activities">
		<thead>
			<tr>
				<th></th>
				<th>Activity 1</th>
				<th>Activity 2</th>
				<th>Activity 3</th>
			</tr>
		</thead>
		<tbody>
			<% @coach = User.find(:first, :conditions => { :name => "Test Teacher" }) %>
			<% @activities = Activity.find(:all, :conditions => { :coach => @coach.name }) %>
			<% if @activities.length < 12 %>
				<% 4.times do |x| %>
					<tr>
						<td class="left-side">Marking Period <%= x + 1 %></td>
						<% 3.times do |y| %>
							<% if y != 2 %>
								<td><em>none</em></td>
							<% else %>
								<td class="right-side"><em>none</em></td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<button id="edit-all-activities" class="act-btn">Edit All</button>
	<button id="save-activities" class="act-btn">Save</button>
</div>