<div class="tabular">
	<% @users = User.all %>
	<% @users.each do |u| %>
		<div><label><input type="radio" name="coach" /><%= u.name %></label></div>
	<% end %>
</div>
<div class="tabular">
	<table id="manage-activities">
		<% 4.times do |x| %>
			<tr>
				<td>Marking Period <%= x + 1 %></td>
			</tr>
		<% end %>
	</table>
</div>