<div class="tabular">
	<% @users = User.all %>
	<% count = 1 %>
	<% @users.each do |u| %>
		<% if count == 1 %>
			<div><label><input type="radio" name="coaches" checked /><%= u.name %></label></div>
		<% else %>
			<div><label><input type="radio" name="coaches" /><%= u.name %></label></div>
		<% end %>
		<% count = count + 1 %>
	<% end %>
</div>
<br />
<div class="tabular_opp">
	<table id="manage-activities">
		<thead>
			<tr>
				<th></th>
				<th>Activity 1</th>
				<th>Activity 2</th>
				<th>Activity 3</th>
			</tr>
		</thead>
		<tbody>
			<% @coach = User.find(:first, :conditions => { :name => "Test Teacher" }) %>
			<% 4.times do |x| %>
				<tr>
					<td>Marking Period <%= x + 1 %></td>
					<% @activities = Activity.find(:all, :conditions => { :marking_period => x + 1, :coach => @coach.name }) %>
					<% (@activities.length).times do |y| %>
						<td>asdf</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<button id="edit-all-activities" class="act-btn">Edit All</button>
	<button id="save-activities" class="act-btn">Save</button>
</div>