<div class="tabular">
	<% @users = User.all %>
	<% @users.each do |u| %>
		<div><label><input type="radio" name="coach" /><%= u.name %></label></div>
	<% end %>
</div>
<div class="tabular_opp">
	<table id="manage-activities">
		<tr>
			<td></td>
			<td>Activity 1</td>
			<td>Activity 2</td>
			<td>Activity 3</td>
		</tr>
		<% 4.times do |x| %>
			<tr>
				<td>Marking Period <%= x + 1 %></td>
				<td><em>none</em></td>
				<td><em>none</em></td>
				<td><em>none</em></td>
			</tr>
		<% end %>
	</table>
</div>