<div class="prim"><span style="color:black;cursor:default;" id="prim_1">MP1</span> | <span id="prim_2">MP2</span> | <span id="prim_3">MP3</span> | <span id="prim_4">MP4</span></div>
<div class="sec"><span style="color:black;cursor:default;" id="sec_1">Activity 1</span> | <span id="sec_2">Activity 2</span> | <span id="sec_3">Activity 3</span></div>