<div class="prim"><span style="color:black;cursor:default;" id="prim_1">MP1</span> | <span id="prim_2">MP2</span> | <span id="prim_3">MP3</span> | <span id="prim_4">MP4</span></div>
<div class="sec"><span style="color:black;cursor:default;" id="sec_1">Activity 1</span> | <span id="sec_2">Activity 2</span> | <span id="sec_3">Activity 3</span></div>
<hr />
<label>
	Select Period:
	<select id="period-select">
		<option value="1" selected>1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5-6">5/6</option>
		<option value="6-7">6/7</option>
		<option value="7-8">7/8</option>
		<option value="8-9">8/9</option>
		<option value="10">10</option>
		<option value="11">11</option>
	</select>
</label>
<hr />