<input type="file" size="50" id="file_select" /><button id="add_s">Add Students</button>
<table id="add_bulk_students">
	<thead>
		<tr>
			<th class="id">Row</th>
			<th class="name">Name</th>
			<th class="period">Period</th>
			<th class="grade_level">Grade</th>
			<th class="sign_in_teacher">Sign In Teacher</th>
		</tr>
	</thead>
	<tbody id="add_bulk_students_inner"></tbody>
</table>
<button id="confirm">Confirm?</button>