<script type="text/javascript">
	$(document).ready(function() {
		$('#box .roster_student_list').each(function() {
			var par = $(this).parent('li').children('span');
			$.post('/load_student_roster', { activity: par.text() }, function(r) { par.parent('li').children('.roster_student_list').html(r); });
		});
		$('#marking-period-ul').each(function() {
			alert($(this).text());
		});
	})
</script>
<% @activity_arr2 = Array.new %>
<div id="box">
	<% periods = ['1', '2', '3', '4', '5-6', '6-7', '7-8', '8-9', '10', '11'] %>
	<% 4.times do |x| %>
		<div class="well">
			<ul id="marking-period-ul">
				<li><h3>Marking Period: <%= (x+1) %></h4>
					<% periods.each do |p| %>
						<ul id="period-ul">
							<li>period: <%= p %>
								<% @students.each do |s| %>
									<% if p == s.search("period").inner_text %>
										<% if !@activity_arr2.include?(s.search("activity").inner_text) %>
											<% @activity_arr2.push(s.search("activity").inner_text) %>
											<ul>
												<li><%= s.search("coach").inner_text %> (<span><%= s.search("activity").inner_text %></span>)
													<ul class="roster_student_list"></ul>
												</li>
											</ul>
										<% end %>
									<% end %>
								<% end %>
							</li>
						</ul>
					<% end %>
				</li>
			</ul>
		</div>
	<% end %>
</div>