<script type="text/javascript">
	$(document).ready(function() {
		$('#box .roster_student_list').each(function() {
			var par = $(this).parent('li').children('span');
			$.post('/load_student_roster', { activity: par.text(), period: $(this).parent('li').parent('ul').parent('li').children('#period').text() }, function(r) { par.parent('li').children('.roster_student_list').html(r); });
		});
		$('.period-ul').each(function() {
			var pText = $.trim($(this).html()).replace(/\s/g, "");
			if(pText.indexOf('</li>') <= 14) {
				$(this).css({ 'display': 'none' });
			}
		});
		$('.marking-period-ul').each(function() {
			var pText = $.trim($(this).html()).replace(/\s/g, "");
			alert(pText.length);
		});
	})
</script>
<% @activity_arr2 = Array.new %>
<div id="box">
	<% periods = ['1', '2', '3', '4', '5-6', '6-7', '7-8', '8-9', '10', '11'] %>
	<% 4.times do |x| %>
		<div class="well">
			<ul class="marking-period-ul">
				<li><h3>Marking Period: <%= (x+1) %></h3>
					<% periods.each do |p| %>
						<ul class="period-ul">
							<li>period: <span id="period"><%= p %></span>
								<% @students.each do |s| %>
									<% if (x+1) == s.search("marking_period").inner_text && p == s.search("period").inner_text %>
										<% if !@activity_arr2.include?(s.search("activity").inner_text) %>
											<% @activity_arr2.push(s.search("activity").inner_text) %>
											<ul>
												<li><%= s.search("coach").inner_text %> (<span><%= s.search("activity").inner_text %></span>)
													<ul class="roster_student_list"></ul>
												</li>
											</ul>
										<% end %>
									<% end %>
								<% end %>
							</li>
						</ul>
					<% end %>
				</li>
			</ul>
		</div>
	<% end %>
</div>