<h3>manage students (<span id='s_a_outer'><%= link_to('add', '#', :id => 's_add') %><span id='s_add_plain'>add</span></span> | <span id='s_as_outer'><%= link_to('assign', '#', :id => 's_assign') %><span id='s_assign_plain'>assign</span></span>)</h3>
<div id='manage-students-content'>
	<div id='student_add'>
		<h4>add student (<span id='s_a_bulk_outer'><%= link_to('bulk', '#', :id => 's_a_bulk') %><span id='s_a_bulk_plain'>bulk</span></span> | <span id='s_a_single_outer'><%= link_to('single', '#', :id => 's_a_single') %><span id='s_a_single_plain'>single</span></span>)</h4>
	</div>
	<div id='student_assign'>
		<h4>assign students</h4>
	</div>
	<div id='m_s_c_inner'></div>
</div>

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#add" data-toggle="tab">Add</a></li>
		<li><a href="#assign" data-toggle="tab">Assign</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="add">
			<div class="tabbable tabs-bottom">
				<div class="tab-content">
					<div class="tab-pane active" id="bulk">

					</div>
					<div class="tab-pane" id="single">

					</div>
				</div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#bulk" data-toggle="tab">Bulk</a></li>
					<li><a href="#single" data-toggle="tab">Single</a></li>
				</ul>
			</div>
		</div>
		<div class="tab-pane" id="assign">

		</div>
	</div>
</div>