<% students.each do |s| %>
	<div class="well">
		<h4><%= s.search("name").inner_text %></h4>
		<h5>Activity <small><%= s.search("activity").inner_text %></small></h5>
		<h5>Marking Period <small><%= s.search("marking_period").inner_text %></small></h5>
		<h5>Activity Number <small><%= s.search("activity_number").inner_text %></small></h5>
	</div>
<% end %>