<style type="text/css" media="print">
	.navbar, .col, .footer {
		display:none;
	}
	.well {
		width:100%;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('.activity_drop').each(function() {
			$(this).click(function() {
				var ele = $(this).parent('h4').parent('.well').children('.roster_student_list');
				if(ele.html() == "")
					$.post('/load_student_roster', { activity: $(this).prop('id') }, function(r) { ele.html(r); });
				else
					ele.html("");
				return false;
			});
		});
	})
</script>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#your-roster" data-toggle="tab">Your Roster</a></li>
		<li><a href="#full-roster" data-toggle="tab">Full Roster</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="your-roster">
			<% @activity_arr = Array.new %>
			<% students.each do |s| %>
				<% if !@activity_arr.include?(s.search("activity").inner_text) %>
					<% act = Activity.find(:first, :conditions => { :name => s.search("activity").inner_text, :marking_period => s.search("marking_period").inner_text, :activity_number => s.search("activity_number").inner_text }) %>
					<% if current_user?(User.find(:first, :conditions => { :name => act[:coach] })) %>
						<% @activity_arr.push(s.search("activity").inner_text) %>
						<div class="well">
							<h4><%= link_to s.search("activity").inner_text, '#', :id => "#{s.search("activity").inner_text}", :class => "activity_drop" %></h4>
							<div class="roster_student_list"></div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="tab-pane" id="full-roster">
			<% @activity_arr2 = Array.new %>
			<% students.each do |s| %>
				<% if !@activity_arr2.include?(s.search("activity").inner_text) %>
					<% @activity_arr2.push(s.search("activity").inner_text) %>
					<div class="well">
						<h4><%= link_to s.search("activity").inner_text, '#', :id => "#{s.search("activity").inner_text}", :class => "activity_drop" %></h4>
						<div class="roster_student_list"></div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>