<style type="text/css" media="print">
	.navbar, .col, .footer {
		display:none;
	}
	.well {
		width:100%;
	}
</style>
<!--
	Check activity
	Print it to screen if not already on screen
	Add Student name to array
	Print array in small text under Activity name
	Utilize JQuery to make drop down for activity roster (1 roster open at a time)
-->
<% @activity_arr = Array.new %>
<% students.each do |s| %>
	<% if !@activity_arr.include?(s.search("activity").inner_text) %>
		<!-- UTILIZE THIS FOR PRINTING THIS VALUE TO SCREEN ONCE -->
		<% @activity_arr.push(s.search("activity").inner_text) %>
		<div class="well">
			<h4><%= s.search("activity").inner_text %></h4>
		</div>
	<% end %>
<% end %>