<style type="text/css">
	.ui_autocomplete {
		width:10%;
		margin:0;
		padding:0;
	}
	.ui_autocomplete li {
		list-style-type:none;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('.pagination a').attr('data-remote', 'true');
	})
</script>
<h3>View Students &bull; <input type="text" data-autocomplete="/users/autocomplete_student_name" placeholder="search student" /></h3>
<% if @student_results.length > 0 %>
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Student Name</th>
				<th>Period</th>
				<th>Grade</th>
				<th>Sign In Teacher</th>
				<% if !@user.teacher? %>
					<th><%= link_to '+ student', {:controller => 'users', :action => 'manage_students'}, :remote => true %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => '/students/student', :locals => {:over => false, :view => true} %>
		</tbody>
	</table>
<% else %>
	<br /><h4>There are no students within the database!</h4>
<% end %>
<%= will_paginate @student_results %>