<tbody>
	<tr>
		<td class="left-side"><span class="det">Grade:</span></td>
		<td><%= @user.grade_level %></td>
	</tr>
	<tr>
		<td class="left-side"><span class="det">Period:</span></td>
		<td><%= @user.period %></td>
	</tr>
	<tr>
		<td class="left-side"><span class="det">Teacher:</span></td>
		<td><%= @user.sign_in_teacher %></td>
	</tr>
</tbody>