<script type="text/javascript">
	$(document).ready(function() {
		var show_per_page = 5;
		var number_of_items = $('#attendance').children('table').children('tbody').children('tr').size();
		var number_of_pages = Math.ceil(number_of_items/show_per_page);
		alert(number_of_items);
	})
</script>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#all-students" data-toggle="tab">All Students</a></li>
		<li><a href="#attendance" data-toggle="tab">Attendance</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="all-students">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Student Name</th>
						<th>Period</th>
						<th>Grade</th>
						<th>Sign In Teacher</th>
						<% if !@user.teacher? %>
							<th><%= link_to '+ student', {:controller => 'users', :action => 'manage_students'}, :remote => true %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => '/students/student', :locals => {:over => false, :view => true} %>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="attendance">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Student Name</th>
						<th>Period</th>
						<th>Grade</th>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => '/students/student', :locals => {:over => true} %>
				</tbody>
			</table>
		</div>
	</div>
</div>