<script type="text/javascript">
	$(document).ready(function() {
		$('.pagination a').attr('data-remote', 'true');
	})
</script>
<h3>View Students</h3>
<table class='table table-striped'>
	<thead>
		<tr>
			<th>Student Name</th>
			<th>Period</th>
			<th>Grade</th>
			<th>Sign In Teacher</th>
			<% if !@user.teacher? %>
				<th><%= link_to '+ student', {:controller => 'users', :action => 'manage_students'}, :remote => true %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => '/students/student', :locals => {:over => false, :view => true} %>
	</tbody>
</table>
<%= will_paginate @student_results %>