<script type="text/javascript">
	$(document).ready(function() {
		$('.pagination a').attr('data-remote', 'true');
		$('#search_student').keyup(function(e) {
			if(e.keyCode == 13)
				$.post('/search_student', { name: $(this).val() }, function(r) { window.location.replace(r); });
		});
		$('.ui-autocomplete li').click(function() {
			$.post('/search_student', { name: $('#search_student').val() }, function(r) { window.location.replace(r); });
		});
	})
</script>
<h3>View Students &bull; <input id="search_student" type="text" data-autocomplete="/users/autocomplete_student_name" placeholder="search student" /></h3>
<% if @student_results.length > 0 %>
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Student Name</th>
				<th>Period</th>
				<th>Grade</th>
				<th>Sign In Teacher</th>
				<% if !@user.teacher? %>
					<th><%= link_to '+ student', {:controller => 'users', :action => 'manage_students'}, :remote => true %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => '/students/student', :locals => {:over => false, :view => true} %>
		</tbody>
	</table>
<% else %>
	<br /><h4>There are no students within the database!</h4>
<% end %>
<%= will_paginate @student_results %>
<style type="text/css">
	input[type='text'] {
		margin-top:5px;
	}
	.ui-autocomplete {
		width:10%;
		list-style-type:none;
	}
</style>