<tbody>
	<tr>
		<td class="left-side"><span class="det">1.</span></td>
		<td><%= link_to "view students", {:controller => "users", :action => 'view_students'}, :remote => true %></td>
	</tr>
</tbody>