<% if !view %>
	<% @users = User.find(:all, :conditions => {:teacher => true}) %>
	<% @users.each do |u| %>
		<% if u.id == 1 %>
			<li><span><label><input type="radio" name="coaches" value="<%= u.id %>" checked /><%= u.name %></label></span></li>
		<% else %>
			<li><span><label><input type="radio" name="coaches" value="<%= u.id %>" /><%= u.name %></label></span></li>
		<% end %>
	<% end %>
<% end %>