<% if !view %>
	<% @users = User.find(:all, :conditions => {:teacher => true}) %>
	<% @users.each do |u| %>
		<li id="<%= u.name %>" class="droppable"><span><label><%= u.name %></label></span></li>
	<% end %>
<% else %>
	<% @users_schedules = teachers_xml %>
	<% @users_schedules.each do |ts| %>
		<%= ts[0..(ts.index(":")-1)] %>
	<% end %>
<% end %>