$('#main-user-content').html("<div class='row'><%= escape_javascript(render 'add_activity_form') %></div>");

function InitRender() {
	for(var x = 1;x < 5;x++) {
		$('#manage-activities').children('tbody').append("<%= escape_javascript(render :partial => 'activity_cell', :locals => { :mp => "+ x +", :coa => "+ $('input[name=coaches]:checked').val() +" }) %>");
	}
}

$('input[name=coaches]:radio').change(function() {

});

$('#manage-activities').children('tbody').children('tr').children('td').dblclick(function() {
	if(!$(this).hasClass('left-side')) {
		$(this).html("<input type='text' value=" + $(this).text() + " />");
	}
});
$('#edit-all-activities').click(function() {
	$('#manage-activities').children('tbody').children('tr').children('td').each(function() {
		if(!$(this).hasClass('left-side')) {
			$(this).html("<input type='text' value=" + $(this).text() + " />");
		}
	});
});
$('#save-activities').click(function() {
	if($('#manage-activities').children('tbody').children('tr').children('td').children('input').length) {
		$('#manage-activities').children('tbody').children('tr').children('td').children('input').each(function() {
			$(this).parent('td').html("<em>" + $(this).val() + "</em>");
		});
	}
});

InitRender();