$('#main-user-content').html("<div class='row'><%= escape_javascript(render 'add_activity_form') %></div>");

$('input[name=coaches]:radio').change(function() {
	$.post('/add_activities', { coach: $(this).val() }, function(r) { loadActivities(r); });
});

$('#manage-activities').children('tbody').children('tr').children('td').dblclick(function() {
	if(!$(this).hasClass('left-side')) {
		$(this).html("<input type='text' value=" + $(this).text() + " />");
	}
});
$('#edit-all-activities').click(function() {
	$('#manage-activities').children('tbody').children('tr').children('td').each(function() {
		if(!$(this).hasClass('left-side')) {
			$(this).html("<input type='text' value=" + $(this).text() + " />");
		}
	});
});
$('#save-activities').click(function() {
	if($('#manage-activities').children('tbody').children('tr').children('td').children('input').length) {
		$('#manage-activities').children('tbody').children('tr').children('td').children('input').each(function() {
			if($(this).val() != '') {
				$(this).parent('td').html("<em>" + $(this).val() + "</em>");
			} else {
				$(this).parent('td').html("<em>none</em>");
			}
		});
		var moveOn = true;
		$('#manage-activities').children('tbody').children('tr').children('td').each(function() {
			if($(this).children('em').html() == 'none') {
				moveOn = false;
			}
		});

		if(moveOn) {
			//ENTER ACTIVITIES INTO DATABASE
		}
	}
});

function loadActivities(activities) {
	var str = "";
	if(activities.length < 12) {
		for(var i = 0;i < 4;i++) {
			str += "<tr>";
			str += "<td class='left-side'>Marking Period "+ (i+1) +"</td>";
			for(var j = 0;i < 3;i++) {
				if(j != 2) {
					str += "<td><em>none</em></td>";
				} else {
					str += "<td class='right-side'><em>none</em></td>";
				}
			}
			str += "</tr>";
		}
	}
	$("#manage-activities").children('tbody').html(str);

	$.each(activities, function() {
		$.each(this, function(key, value) {
			alert(key + ": " + value);
		});
	});
}