var str = "<div class='row'>";
str +=	  "<h3>manage students (<span id='s_a_outer'><%= escape_javascript(link_to('add', '#', :id => 's_add')) %><span id='s_add_plain'>add</span></span>";
str +=	  " | ";
str +=	  "<span id='s_as_outer'><%= escape_javascript(link_to('assign', '#', :id => 's_assign')) %><span id='s_assign_plain'>assign</span></span>)</h3>";
str +=	  "</div>";
str +=	  "<div class='row'>";
str +=	  "<div id='manage-students-content'>";

str +=	  "<div id='student_add'>";
str +=	  "<h4>add student";
str +=	  " (<span id='s_a_bulk_outer'>";
str +=	  "<%= escape_javascript(link_to('bulk', '#', :id => 's_a_bulk')) %>";
str +=	  "<span id='s_a_bulk_plain'>bulk</span>";
str +=	  "</span>";
str +=	  " | ";
str +=	  "<span id='s_a_single_outer'>";
str +=	  "<%= escape_javascript(link_to('single', '#', :id => 's_a_single')) %>";
str +=	  "<span id='s_a_single_plain'>single</span>";
str +=	  "</span>)";
str +=	  "</h4>";
str +=	  "</div>";

str +=	  "<div id='student_assign'>";
str +=	  "<h4>assign student</h4>";
str +=	  "</div>";

str +=	  "<div id='m_s_c_inner'></div>";

str +=	  "</div>";
str +=	  "</div>";
$('#main-user-content').html(str);
$('#s_add').hide();
$('#s_assign_plain').hide();

function change_tab(new_tab) {
	if(new_tab == 'add') {
		$('#student_add').show();
		$('#student_assign').hide();
		$('#s_a_bulk').hide();
		$('#s_a_single_plain').hide();
		change_sub_tab('bulk');
	} else if(new_tab == 'assign') {
		$('#student_assign').show();
		$('#student_add').hide();
	}
}
function change_sub_tab(new_sub_tab) {
	var content;
	if(new_sub_tab == 'bulk') {
		content = '<input type="file" size="50" id="file_select" /><button id="add_s_bulk">Add Students</button>';
		content += '<table id="add_bulk_students">';
		content += '<thead>';
		content += '<tr>';
		content += '<th class="id">Row</th>';
		content += '<th class="name">Name</th>';
		content += '<th class="period">Period</th>';
		content += '<th class="grade_level">Grade</th>';
		content += '<th class="sign_in_teacher">Sign In Teacher</th>';
		content += '</tr>';
		content += '</thead>';
		content += '<tbody id="add_bulk_students_inner"></tbody>';
		content += '</table>';
		content += '<button id="confirm">Confirm?</button>';
		content += '<script src="bulk_add_jquery.js"></script>';
	} else if(new_sub_tab == 'single') {
		content = 'single';
	}
	$('#m_s_c_inner').html(content);
}

$('#s_add').click(function() {
	change_tab('add');
	$(this).hide();
	$('#s_add_plain').show();
	$('#s_assign_plain').hide();
	$('#s_assign').show();

	return false;
});
$('#s_assign').click(function() {
	$('#s_a_bulk').click();
	$('#m_s_c_inner').html("");
	change_tab('assign');
	$(this).hide();
	$('#s_assign_plain').show();
	$('#s_add_plain').hide();
	$('#s_add').show();

	return false;
});

$('#s_add').click();

$('#s_a_bulk').click(function() {
	change_sub_tab('bulk');
	$(this).hide();
	$('#s_a_bulk_plain').show();
	$('#s_a_single_plain').hide();
	$('#s_a_single').show();

	return false;
});
$('#s_a_single').click(function() {
	change_sub_tab('single');
	$(this).hide();
	$('#s_a_single_plain').show();
	$('#s_a_bulk_plain').hide();
	$('#s_a_bulk').show();

	return false;
});