$('#main-user-content').html("<%= escape_javascript(render 'add_activity_form') %>");

var cur_coach = $('input[name=coaches]:radio').val();
$('input[name=coaches]:radio').change(function() {
	cur_coach = $(this).val();
	$.post('/change_coach', { coach: cur_coach }, function(r) { loadActivities(r); });
});

$('#manage-activities').children('tbody').children('tr').children('td').dblclick(function() {
	if(!$(this).hasClass('left-side')) {
		$(this).html("<input type='text' value=" + $(this).text() + " />");
	}
});
$('#edit-all-activities').click(function() {
	$('#manage-activities').children('tbody').children('tr').children('td').each(function() {
		if(!$(this).hasClass('left-side')) {
			$(this).html("<input type='text' value=" + $(this).text() + " />");
		}
	});
});
$('#save-activities').click(function() {
	if($('#manage-activities').children('tbody').children('tr').children('td').children('input').length) {
		var moveOn = true;
		$('#manage-activities').children('tbody').children('tr').children('td.data').each(function() {
			if($(this).children('input').val() == 'none') {
				moveOn = false;
			}
		});

		if(moveOn) {
			var activities = new Array();
			var count = 0;
			$('#manage-activities').children('tbody').children('tr').children('td.data').each(function() {
				activities[count] = [ $(this).children('input').val(), $(this).prop('id').substring(0, 1), $(this).prop('id').substring(2) ];
				count++;
			});
			$.post('/add_activities', { acts: activities, coach: cur_coach }, function(r) { confirm_add(r, activities); });
		}
	}
});

function loadActivities(activities) {
	$.ajaxSetup({async:false});
	var str = "";
	for(var i = 0;i < 4;i++) {
		str += "<tr>";
		str += "<td class='left-side'>Marking Period "+ (i+1) +"</td>";
		for(var j = 0;j < 3;j++) {
			var textA = "";
			if(j != 2) {
				if(activities.length < 12) {
					str += "<td id='"+(i+1)+"_"+(j+1)+"' class='data'><em>none</em></td>";
				} else {
					$.post('/get_activity', { coach: cur_coach, act: j+1, mp: i+1 }, function(r) { textA = r; });
					str += "<td id='"+(i+1)+"_"+(j+1)+"' class='data'>"+ textA +"</td>";
				}
			} else {
				if(activities.length < 12) {
					str += "<td id='"+(i+1)+"_"+(j+1)+"' class='right-side data'><em>none</em></td>";
				} else {
					$.post('/get_activity', { coach: cur_coach, act: j+1, mp: i+1 }, function(r) { textA = r; });
					str += "<td id='"+(i+1)+"_"+(j+1)+"' class='right-side data'>"+ textA +"</td>";
				}
			}
		}
		str += "</tr>";
	}
	$("#manage-activities").children('tbody').html(str);
	$.ajaxSetup({async:true});
}

function confirm_add(response, activities) {
	if(confirm('Are these correct?\n\n'+response)) {
		$.post('/confirm_add', { acts: activities, coach: cur_coach }, function(r) { alert(r); });
		$.post('/change_coach', { coach: cur_coach }, function(r) { loadActivities(r); });
	}
}