<% provide(:title, @user.name) %>
<div class="col pull-left">
	<%= render 'teacher_side' %>
</div>
<div id="main-user-content" class="pull-right">
	This is the home portion of the teacher profile page.
</div>