<% provide(:title, @user.name) %>
<div class="col pull-left">
	<table>
		<thead>
			<tr>
				<td></td>
				<td><h3><%= @user.name %></h3></td>
			</tr>
		</thead>
		<%= render 'teacher_side' %>
	</table>
</div>
<div id="main-user-content" class="pull-right">
	This is the home portion of the teacher profile page.
</div>