<% provide(:title, @user.name) %>
<div class="col pull-left tabular">
	<table>
		<thead>
			<tr>
				<td></td>
				<td><h3><%= @user.name %></h3></td>
			</tr>
		</thead>
		<% if @user.u_type == 1 %>
			<%= render 'student_side' %>
		<% elsif current_user.u_type == 0 %>
			<%= render 'teacher_side' %>
		<% end %>
	</table>
</div>
<div id="main-user-content"></div>