<% provide(:title, @user.name) %>
<div class="col pull-left tabular">
	<table>
		<thead>
			<tr>
				<td></td>
				<td><h3><%= @user.name %></h3></td>
			</tr>
		</thead>
		<tbody>
			<% if @user.u_type = 1 %>
			<tr>
				<td class="left-side"><span class="det">Grade:</span></td>
				<td><%= @user.grade_level %></td>
			</tr>
			<tr>
				<td class="left-side"><span class="det">Period:</span></td>
				<td><%= @user.period %></td>
			</tr>
			<tr>
				<td class="left-side"><span class="det">Teacher:</span></td>
				<td><%= @user.sign_in_teacher %></td>
			</tr>
			<% else %>
			<tr>
				<td>asdf</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>