var prim;
var sec;
$(document).ready(function() {
	$('.prim').children('span').each(function() {
		$(this).click(function() {
			resetLvl('prim');
			resetLvl('sec');
			$(this).css({ 'color': 'black', 'cursor': 'default' });
			$('#sec_1').css({ 'color': 'black', 'cursor': 'default' });
			prim = $(this).prop('id');
			sec = '#sec_1';

			change_students();
		});
	});
	$('.sec').children('span').each(function() {
		$(this).click(function() {
			resetLvl('sec');
			$(this).css({ 'color': 'black', 'cursor': 'default' });
			sec = $(this).prop('id');

			change_students();
		});
	});

	prim = "prim_1";
	sec = "sec_1";
	change_students();
})

function resetLvl(type) {
	$(document).ready(function() {
		$('.'+type).children('span').each(function() {
			$(this).css({ 'color': 'blue', 'cursor': 'pointer' });
		});
	})
}

function change_students() {
	var mp = prim.substring(prim.length - 1);
	var act = sec.substring(sec.length - 1);
	$.post('/reload_teachers', { marking: mp }, function(r) { $('#student_assign_teacher_list').html("<li><h4>coaches</h4></li>" + r); });
	$.post('/reload_students', { marking: mp, activity: act }, function(r) { $('#student-list').html(r); });
}