body {
	margin:0 auto;
}

.navbar {
	width:100%;
	background:rgb(112,132,145);
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	position:absolute;
	top:0;
	.navbar-inner {
		margin-left:15px;
		margin-right:15px;
		a {
			text-decoration:none;
		}
		#logo {
			float:left;
		}
		nav {
			ul.nav-pull-right {
				list-style:none;
				margin:0;
				padding:0;
				text-align:center;
				li {
					width:6%;
					display:inline;
					a {
						display:inline-block;
						padding:10px;
					}
				}
			}
		}
	}
}