body {
	margin:0 auto;
}

.navbar {
	background:rgb(112,132,145);
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	.navbar-inner {
		margin-left:10px;
		margin-right:10px;
		.nav-pull-right {
			display:inline;
			li {
				float:left;
			}
		}
	}
}