body {
	margin:0 auto;
}

.container {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

.navbar {
	width:100%;
	background:rgb(112,132,145);
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	position:absolute;
	top:0;
	.navbar-inner {
		opacity:0.9;
		a {
			text-decoration:none;
		}
		.container {
			margin-top:0;
			#logo {
				float:left;
				font-size:1.7em;
				color:#fff;
			}
			nav {
				width:75%;
				float:right;
				ul.nav-pull-right {
					list-style:none;
					margin:0;
					padding:0;
					text-align:center;
					li {
						width:15%;
						float:right;
						margin-top:10px;
						a {
							color:#222;
							display:inline-block;
							&:hover {
								color:#555;
							}
						}
					}
				}
			}
		}
	}
}

.main-unit {
	width:100%;
	margin-top:3%;
	.container {
		width:76%;
		padding-left:2%;
		padding-right:2%;
		border-radius:15px;
		background:rgb(156,145,145);
	}
}

footer {
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:35px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#999;
	a {
		color:#555;
		&:hover {
			color:#222;
		}
	}
	small {
		float:left;
	}
}