body {
	margin:0 auto;
}

.container {
	width:70%;
	margin-left:15%;
	margin-right:15%;
}

.navbar {
	width:100%;
	background:rgb(112,132,145);
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	position:absolute;
	top:0;
	.navbar-inner {
		opacity:0.7;
		a {
			text-decoration:none;
		}
		.container {
			margin-top:0;
			#logo {
				float:left;
				font-size:1.7em;
				color:#fff;
			}
			nav {
				width:75%;
				float:right;
				ul.nav-pull-right {
					list-style:none;
					margin:0;
					padding:0;
					text-align:center;
					li {
						width:15%;
						float:right;
						margin-top:10px;
						a {
							display:inline-block;
						}
					}
				}
			}
		}
	}
}

.main-unit {
	width:100%;
	margin-top:3%;
	.container {
		width:64%;
		padding-left:2%;
		padding-right:2%;
		border-radius:15px;
		background:rgb(156,145,145);
	}
}