@import "bootstrap";
body {
	margin:0 auto;
}
@import "bootstrap-responsive";

h3, h4 {
	margin:0;
	padding:0;
}

.col {
	width:15%;
}

.row {
	width:100%;
}

#main-user-content {
	width:83%;
	float:right;

	well a {
		text-decoration:none;
		display:block;
	}

	.teacher-select {
		width:99.5%;
		border:1px solid #CCC;
		border-radius:5px;
		.inner {
			margin:5px;
			input[type="radio"] {
				float:left;
				margin:2px 10px 0 0;
			}
		}
	}
	.act-btn {
		width:100%;
	}
	.blackout {
		background-color:#000;
		opacity:.7;
		filter:alpha(opacity=70);
		height:100%;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		display:none;
	}
	.msgbox {
		background-color:#ccc;
		color:#000;
		width:90%;
		height:80%;
		position:absolute;
		top:10%;
		left:5%;
		padding:10px;
		z-index:101;
		display:none;
		.inner {
			float:left;
			width:100%;
			height:85%;
			overflow:auto;
		}
	}
	
	#add_bulk_students {
		width:100%;
		text-align:center;
		display:none;
	}
	#confirm {
		display:none;
	}

	#student_assign_teacher_list {
		margin:0;
		list-style:none;
		padding:.2em 0 .2em .5em;
		border-right:1px solid #CCC;
		li {
			margin:.2em 0 .2em 0;
			h4 {
				border-bottom:1px solid #CCC;
			}
			span {
				a {
					text-decoration:none;
				}
			}
		}
	}
	#assign-right-side {
		width:80%;
		float:right;
		margin-bottom:1%;
		#assign-right-header, #student-list {
			float:right;
			width:100%;
		}
		#assign-right-header {
			.prim {
				border-bottom:1px solid #000;
				margin-bottom:.2em;
				padding-bottom:.2em;
			}
			span {
				color:blue;
				cursor:pointer;
			}
		}
		.draggable {
			border-right:1px solid blue;
			border-left:1px solid blue;
		}
		.droppable .drag-here {
			font-size:.7em;
		}
		.grouped {
			border-right:1px solid lightgreen;
			border-left:1px solid lightgreen;
		}
		.selected {
			text-align:center;
		}
	}
}